@model NowyDziennik.Models.SendMessageViewModel

@{
    ViewBag.Title = "Send Message";
}

<h2>Send Message to @Model.ReceiverName</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label" })
        @Html.TextAreaFor(model => model.Content, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
    </div>

    <input type="hidden" name="ReceiverId" value="@Model.ReceiverId" />

    <div class="form-group">
        <input type="submit" value="Send" class="btn btn-primary" />
    </div>
}

<div>
    @Html.ActionLink("Back to All Users", "AllUsers")
</div>
