@model NowyDziennik.Models.ClassTopic

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ClassTopic</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Topic)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Topic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Class.ClassName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Class.ClassName)
        </dd>
    </dl>
</div>

@if (Model.FileContent != null && Model.FileContent.Length > 0)
{
    <div>
        <h4>Files</h4>
        <hr />
        <p>
            @Html.ActionLink("Download File", "DownloadFile", "ClassTopics", new { id = Model.ClassTopicId }, null)
        </p>
    </div>
}

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ClassTopicId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
